<div layout="column" layout-fill ng-cloak>
    <!-- <md-toolbar class="layout-toolbar">
        <div class="md-toolbar-tools">
            <div layout layout-align="center center">
                <img class="md-user-avatar" src="assets/img/Brain-Games-grey.png" />
                <h1 class="md-display-2 title">Mednick DB</h1>
            </div>
            <span flex></span>
            <md-button class="md-primary md-raised" aria-label="Learn More">
                Register
            </md-button>
        </div>
    </md-toolbar> -->
    <md-content layout="row" flex layout-align="center center" ui-view class="content content-public">
    </md-content>
</div>
