<div layout="column">
    <md-subheader class="md-accent">Completed Documents</md-subheader>
    <md-list>
        <!-- <md-list-item md-ink-ripple class="md-3-line" ng-repeat="doc in vm.documents" ng-click="vm.view(doc.docfile)"> -->
        <md-list-item md-ink-ripple class="md-3-line" ng-repeat="doc in vm.completeDocs" ng-click="vm.view(doc.url)">
            <!-- <img ng-src="{{organization.img}}" class="md-avatar" /> -->
            <div class="md-list-item-text" layout="column">
                <h4>{{doc.name}}</h4>
                <h4>Type: {{doc.filetype}}</h4>
                <h4>Study: {{doc.study}}</h4>
                <h4>Visit: {{doc.visit}}</h4>
                <h4>Session: {{doc.session}}</h4>
                <h4>Subject: {{doc.subject}}</h4>
                <p>Date Entered: {{doc.dateUploaded}}</p>

            </div>
            <!-- <md-button class="md-accent md-secondary" ng-click="vm.download(server+doc.docfile)">
            <md-icon>file_download</md-icon>
            </md-button> -->
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        <md-list-item></md-list-item>
        <md-list-item layout="row" layout-xs="column" layout-align="center center" ng-if="vm.documents.length == 0">
            <div layout="column" layout-align="center center" flex-gt-xs="25">
                <p>There are no documents</p>
            </div>
        </md-list-item>
    </md-list>
    <md-subheader class="md-warn">Incomplete Documents</md-subheader>
    <md-list>
        <!-- <md-list-item md-ink-ripple class="md-3-line" ng-repeat="doc in vm.documents" ng-click="vm.view(doc.docfile)"> -->
        <md-list-item md-ink-ripple class="md-3-line" ng-repeat="doc in vm.incompleteDocs" ng-click="vm.view(doc.url)">
            <!-- <img ng-src="{{organization.img}}" class="md-avatar" /> -->
            <div class="md-list-item-text" layout="column">
                <h4>{{doc.name}}</h4>
                <h4>Type: {{doc.filetype}}</h4>
                <h4>Study: {{doc.study}}</h4>
                <h4>Visit: {{doc.visit}}</h4>
                <h4>Session: {{doc.session}}</h4>
                <h4>Subject: {{doc.subject}}</h4>
                <p>Date Entered: {{doc.dateUploaded}}</p>

            </div>
            <!-- <md-button class="md-accent md-secondary" ng-click="vm.download(server+doc.docfile)">
            <md-icon>file_download</md-icon>
            </md-button> -->
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
        <md-list-item></md-list-item>
        <md-list-item layout="row" layout-xs="column" layout-align="center center" ng-if="vm.documents.length == 0">
            <div layout="column" layout-align="center center" flex-gt-xs="25">
                <p>There are no documents</p>
            </div>
        </md-list-item>
    </md-list>
</div>
