<md-toolbar class="layout-toolbar md-whiteframe-4dp" layout-align="center center">
    <div class="md-toolbar-tools">
        <div layout layout-align="center center">
            <img class="logo" src="assets/img/brain-games-grey-inverted-grey.png" ui-sref="private.layout.home" />
            <h1 class="md-display-2 title">Mednick DB</h1>
        </div>
        <span flex></span>
        <md-button class="md-accent md-icon-button" layout layout-align="center center" ui-sref="private.layout.home">
        <md-icon>home</md-icon>
        </md-button>
        <md-button class="md-raised md-accent" layout layout-align="center center" ng-click="vm.logout()">
            Sign Out
        </md-button>
    </div>
</md-toolbar>
<md-content layout="column" flex="grow" ui-view class="content content-private">
</md-content>
<div ui-view="fab"></div>
