<md-card flex-xs="100" flex-sm="66" flex-gt-md="40" flex="33" id="login-card">
    <md-card-title>
        <md-card-title-text>
            <div layout flex layout-align="center center" layout-padding>
                <img class="mednick-logo no-padding" src="assets/img/brain-games-grey-inverted-grey.png" />
                <h1 class="no-margins md-display-2 card-title">Mednick DB</h1>
            </div>
            <h3 class="md-headline">Login</h3>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="vm.form">
            <md-input-container class="md-block md-accent" flex-gt-sm>
                <label>Username</label>
                <input required ng-model="vm.model.username">
            </md-input-container>
            <md-input-container class="md-block md-accent" flex-gt-sm>
                <label>Password</label>
                <input required ng-model="vm.model.password">
            </md-input-container>
        </form>
    </md-card-content>
    <md-card-actions layout="row">
        <md-button layout-fill ng-click="vm.login()" ng-disabled="!vm.form.$valid" class="md-primary md-raised">login</md-button>
    </md-card-actions>
</md-card>
